@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: WantedSans;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/WantedSansVariable.woff2") format("woff2");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

button {
  cursor: pointer;
}

.fp-overflow {
  width: 100%;
  height: 100dvh;
  max-height: 100vh !important;
}
.fp-is-overflow {
  max-height: 100vh !important;
  height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@theme {
  --font-pretendard: "Pretendard", sans-serif;
  --font-wantedSans: "WantedSans", sans-serif;
  --font-nanum-pen: "Nanum Pen Script", cursive;
}
